{% extends 'job_apps/base.html' %}

{% block page_header %}
  <h3>{{ job_title }}</h3>
{% endblock page_header %}


{% block content %}

<p>Application: {{ job_title }}</p>

<p>Job Application Details
  <ul>
  {% for entry in job_entry %}
  
    <li>Position: {{ entry.position }}</li>
    <li>Company: {{ entry.company }}</li>
    <li>Location: {{ entry.location }}</li>
    <li>URL: <a href="{{ entry.post_url }}">Website</a></li>
    <li>Contact: {{ entry.contact_name }}</li>
    <li>Status: {{ entry.status }}</li>
    <li>Date Submitted: {{ entry.date_added|date:'M d, Y' }}</li>
    <p>
      <a href="{% url 'job_apps:edit_job_entry' entry.id %}">Edit entry</a>
    </p>
  {% empty %}
    <li>Something went wrong.</li>
  {% endfor %}
  </ul>
  
</p>

{% endblock content %}